/* Login.css */

.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .login-form {
    width: 300px;
    margin-bottom: 16px;
  }
  
  .input-field {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
  }
  
  .button {
    background-color: #4caf50;
    color: white;
    padding: 8px 16px;
    border: none;
    cursor: pointer;
  }
  
  .button:hover {
    background-color: #45a049;
  }
  
  .centered-text {
    text-align: center;
  }
/* TaskForm.css */

.input-field {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
  }
  
  .button {
    background-color: #4caf50;
    color: white;
    padding: 8px 16px;
    border: none;
    cursor: pointer;
  }
  
  .button:hover {
    background-color: #45a049;
  }
/* Register.css */

.register-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .register-form {
    width: 300px;
    margin-bottom: 16px;
  }
  
  .input-field {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
  }
  
  .button {
    background-color: #4caf50;
    color: white;
    padding: 8px 16px;
    border: none;
    cursor: pointer;
  }
  
  .button:hover {
    background-color: #45a049;
  }
  
  .centered-text {
    text-align: center;
  }
  /* Dashboard.css */

.dashboard-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .task {
    margin-bottom: 16px;
    padding: 16px;
    border: 1px solid #ccc;
  }
  
  .task h3 {
    margin-top: 0;
  }
  
  .task p {
    margin: 8px 0;
  }
  
  .button {
    background-color: #4caf50;
    color: white;
    padding: 8px 16px;
    border: none;
    cursor: pointer;
  }
  
  .button:hover {
    background-color: #45a049;
  }
  